<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanhang.lease.web.admin.mapper.FacilityInfoMapper">

    <select id="selectFacilityInfoByApartmentId" resultType="com.nanhang.lease.model.entity.FacilityInfo">


select
    type,
    name,
    icon
    from
        facility_info
    where
        is_deleted = 0
 and id in(select
        facility_id
        from
            apartment_facility
    where
        is_deleted =0
    and apartment_id =#{id}
    )





    </select>
    <select id="selectByIdDiy" resultType="com.nanhang.lease.model.entity.FacilityInfo">
        select
            fi.type,
                fi.name,
                fi.icon


            from
                room_facility rf
        Left join
                    facility_info fi
        on
            rf.facility_id = fi.id

        where
            rf.room_id = #{id}
            and rf.isdeleted=0
            and fi.type = #{itemType}


    </select>
</mapper>
