<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanhang.lease.web.admin.mapper.PaymentTypeMapper">

    <select id="selectByIdDiy" resultType="com.nanhang.lease.model.entity.PaymentType">

    select
        pt.name,
        pt.pay_month_count,
        pt.additional_info
        from
            room_payment_type rpt
    Left join
                    payment_type pt
    on
        rpt.payment_type_id = pt.id

    where
        rpt.room_id = #{id}
        and rpt.is_deleted =0





    </select>
</mapper>
