<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanhang.lease.web.admin.mapper.RoomInfoMapper">

    <select id="selectRoomNumberByApartmentId" resultType="java.lang.Integer">


    select
        count(*)
    from
        room_info
    where
        apartment_id=#{id}
    and
        is_deleted=0

    </select>

    <resultMap id="roomItemVoResultMap" type="com.nanhang.lease.web.admin.vo.room.RoomItemVo" autoMapping="true">
    <id property="id" column="id"/>
        <association property="apartmentInfo" javaType="com.nanhang.lease.model.entity.ApartmentInfo" autoMapping="true">
            <id property="id" column="apartment_id"/>
            <result property="isRelease" column="apartment_is_release"/>
        </association>



    </resultMap>
    <select id="selectIPage" resultMap="roomItemVoResultMap">

    select
        ri.id,
        ri.room_number,
        ri.rent,
        ri.apartment_id,
        ri.is_release,
        ai.province_id,
        ai.province_name,
        ai.city_id,
        ai.city_name,
        ai.district_id,
        ai.district_name,
        la.lease_end_date,
        la.room_id is not null as is_check_in,
        ai.id apartment_id,
        ai.name,
        ai.introduction,
        ai.address_detail,
        ai.latitude,
        ai.longitude,
        ai.phone,
        ai.is_release apartment_is_release
         from
             room_info ri
        left join apartment_info ai
        on ri.apartment_id = ai.id and ai.is_deleted=0

        left join lease_agreement la
            on ri.id = la.room_id and la.is_deleted=0

    <where>
    la.is_deleted=0
    <if test="queryVo.provinceId!=null">
        and ai.province_id=#{queryVo.provinceId}
    </if>
    <if test="queryVo.cityId!=null">
        and ai.city_id=#{queryVo.cityId}
    </if>
    <if test="queryVo.districtId!=null">
        and ai.district_id=#{queryVo.districtId}
    </if>

    </where>


    </select>
</mapper>
